@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    
    <meta charset="utf-8" />
    <title>

    </title>
    <style>
        #div1 {
            margin-top:150px;
            width: 100%;
            height: 350px;
            background-image: url(https://i.pinimg.com/originals/c5/13/d6/c513d68db7f6143deca014783d0197ba.jpg);
            background-size: 100% 100%;
            animation: anim1 ease-in-out 28s infinite;
        }
        
       @@keyframes anim1{
        0% {
            background-image: url(https://i.pinimg.com/originals/c5/13/d6/c513d68db7f6143deca014783d0197ba.jpg)
        }
        20% {
            background-image: url(https://littlefaifo.com/wp-content/uploads/2021/03/ourstory_012-6.jpg)
        }
        40% {
            background-image: url(https://portsoyicecream.co.uk/site/wp-content/uploads/ice-cream-collection.jpg)
        }
        60% {
            background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/raleigh/Andia_s_open_graph_48eaa030-e564-4f57-8cd0-522cfb0b4afc.jpg)
        }
        80% {
            background-image: url('file:///C:\Users\User\source\repos\Project_1\Project_1\wwwroot\images\logo1.jpeg');
        }
        100% {
            background-image: url(https://i.pinimg.com/originals/c5/13/d6/c513d68db7f6143deca014783d0197ba.jpg)
        }
       }
    </style>
</head>
<body>
    <div id="div1">
        
    </div>
   
</body>