@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <input type="text" name="season" />
    <input type="number" name="day" />
    <input type="number" name="month" />
    <input type="text" name="city" />
    <input type="text" name="humidity" />
    <input type="text" name="temprature" />
</form>