@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="page">

        <div id="content">

            <!-- start inner page content box background -->
            <a href="#"><img src="~/images/strawberry-ice-cream.jpg" width="648" height="312" alt=""></a>
            <h1 style="color:grey">About Us</h1>
            <ul>
                <li>

                    <p style="color:grey">
                        We Have Free Templates for Everyone Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.
                    </p>
                </li>
                <li>
                    <p style="color:grey">
                        We Have More Templates for You Looking for more templates? Just browse through all our Free Website Templatesand find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.
                    </p>
                </li>
                <li>
                    <p style="color:grey">
                        Be Part of Our Community If you're experiencing issues and concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests with you.
                    </p>
                </li>
                <li>

                    <p style="color:grey">
                        <span>
                            Template details <br>
                            Design version 6 <br>
                            Code version 4
                        </span> <br>
                        Website Template details, discussion and updates for this Ice Cream Website Template. <br>
                        <br>
                        Website Template design by Free Website Templates.<br>
                        <br>
                        Please feel free to remove some or all the text and links of this page and replace it with your own About content.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
