@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="page">

        <div id="content">

            <!-- start inner page content box background -->
            <a href="#"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/easiest-ever-fruit-and-coconut-ice-cream-1589550075.jpg?crop=1.00xw:0.668xh;0,0.155xh&resize=480:*" width="648" height="312" alt=""></a>
            <h1>ABOUT GELATO</h1>
            <ul>
                <li>
                    <p>
                        We make our gelato with the very best, real ingredients, in their raw and most natural form – everything is made from scratch. “Ready made” ingredients including colourings, flavourings, preservatives and pastes have no place at Gelato & Co. No GMOs either.<br />
                        By using real ingredients, we achieve full bodied texture and flavour in our gelato. We aim to embody the “farm to table concept” using organic produce direct from local farmers whenever possible. When we must import our products,  we source them from producers using sustainable “green” e
                    </p>
                </li>
                <li>
                    <p>
                        Our dairy flavours have low fat content because we use less cream and our sorbets are completely fat free, dairy free and full of fruit.
                    </p>
                </li>
                <li>
                    <p>
                        Our product is made fresh on the premises daily, offering over 24 flavours at and a select number of bespoke gelato cakes and single serve pieces.
                    </p>
                </li>
                <li>
                    <p>
                        Although our inspiration is derived from our experience in Italy where we came from, it’s our customers who provide the real inspiration.
                    </p>
                </li>
                <li>
                    <p>
                        We hope you enjoy our creations as much as we love making them!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
