
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="page">

        <div class="body" >
            <!-- start of body -->
            <h1 >  Contact Us</h1>
            <ul class="connect">
                <li>
                    
                    <span ><b>Call Us</b><br> 755-811-4255</span><span style="color:grey"> 9am - 5pm CST Monday - Friday</span>
                </li>
                <li>
                    <span><b>Email Us</b><br><a href="mailto:info@frostysweets.com">info@frostysweets.com</a></span>
                </li>
                <li>
                    
                    <span ><b>Visit Us</b><br>3550 Breadhouse Avenue Brooklyn, Newyork 45628</span>
                </li>
                <li>
                    
                    <span ><b>For Business Orders</b><br><a href="mailto:sales@frostysweets.com">sales@frostysweets.com</a></span><span style="color:grey"> 755-811-4255</span>
                </li>
            </ul>


            <div class="info">
                <span >DISCLAIMER:</span>
                <p >
                    This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
                </p>
            </div>
        </div>
        <!-- end of body -->
    </div>
              
        
</body>
