@model Project_1.Models.user

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="Login" method="get">
    <input type="text" name="Username" />
    <input type="text" name="Password" />
    <input type="submit" value="חפש" />
</form>

